.pos6
{
    background-color:lightskyblue;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 10px 10px;
    height: 35px;
   
}
.align1
{
    font-weight: bold;
    margin-right: 32%;
}
.align2
{
    font-weight: bold;
    margin-right: 24%;
}
.align3
{
    font-weight: bold;
    margin-right: 28%;
}
.pos1
{
    height: 31px;
    width: 238px;
}
.app1
{
    text-align: center;
    margin: 89px 519px 83px 416px;
    background-color:beige;
    height: 439px;
}